<div class="videos">
    <div class="page-info">
        <p class="page-info-text">Videos page.</p>
    </div>
    <p class="error">{{ error }}</p>
    <div class="videos-container">
        <div class="video-page" *ngFor="let item of items">
            <img class="video-image" [src]="item.image" alt="image">
            <p class="video-name">{{ item.name | bigLetters }}</p>
            <a class="video-details-page" [routerLink]="['details/' + item._id]">More datails</a>
            <a class="video-edit-page" *ngIf="authService.isLoggedIn()" [routerLink]="['edit/' + item._id]">Edit video</a>
            <button class="video-remove-button" *ngIf="authService.isLoggedIn()" (click)="deleteVideo(item._id)">Remove</button>
        </div>
    </div>
</div>