<div class="login">
    <div class="page-info">
        <p class="page-info-text">Login page.</p>
    </div>
    <form class="login-form" action="post" autocomplete="off" method="POST">
        <div class="login-form-input">
            <input class="login-form-email" [(ngModel)]="credentials.email" type="text" name="email" placeholder="Email" title="Email">
        </div>

        <div class="login-form-input">
            <input class="login-form-password" [(ngModel)]="credentials.password" type="password" name="password" placeholder="hasło" title="Password">
        </div>

        <div class="login-form-input">
            <button class="login-form-submit" (click)="signIn()" type="submit" title="Zaloguj się">Sign In</button>
        </div>
    </form>
</div>