<div>
    <form action="post" autocomplete="off" method="POST">
        <div>
            <input [(ngModel)]="credentials.name" type="text" name="username" placeholder="nazwa użytkownika" title="Login">
        </div>

        <div>
            <input [(ngModel)]="credentials.password" type="password" name="password" placeholder="hasło" title="Password">
        </div>

        <div>
            <input [(ngModel)]="credentials.email" type="text" name="email" placeholder="email" title="Email">
        </div>

        <div>
            <button (click)="create()" type="submit" title="Zaloguj się">Create Account</button>
        </div>
    </form>
</div>