<div class="navbar">
    <div class="navbar-container">
        <a class="navbar-link" href="/">Home</a>
    </div>
    <div class="navbar-container">
        <a class="navbar-link" href="videos">Videos</a>
    </div>
    <div class="navbar-container" *ngIf="authService.isLoggedIn() && authService.isAdmin()">
        <a class="navbar-link" href="videos/add">Add Videos</a>
    </div>
    <div class="navbar-container" *ngIf="!authService.isLoggedIn()">
        <a class="navbar-link" href="login">Login</a>
    </div>
    <div class="navbar-container" *ngIf="!authService.isLoggedIn()">
        <a class="navbar-link" href="signup">SignUp</a>
    </div>
    <div class="navbar-container" *ngIf="authService.isLoggedIn()">
        <button class="navbar-button" (click)="signOut()">Logout</button>
    </div>
</div>